{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- List number -->
    <h2 class="archive__item-title" itemprop="headline">
     {{ forloop.index }}. {{ title }}
    </h2>
    
    <!-- Author and Venue -->
    {% if post.collection == 'publications' %}
      <p>{% assign author_list = post.author | split: "," %}
        {% for author in author_list %}
          {% if author contains "Kangda Wei" %}
            <strong>{{ author}}</strong>
          {% else %}
            {{ author}}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}, <i>{{ post.venue }}</i>, <a href="{{ post.paperurl }}">[PDF]</a></p>
    {% endif %}
    
  </article>
</div>
