{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="portfolio-item">
  <article class="portfolio-content" itemscope itemtype="http://schema.org/CreativeWork">
    
    {% if teaser %}
      <div class="portfolio-image">
        <img src="{{ teaser | prepend: '/kangda.github.io/' }}" alt="{{ title }}" loading="lazy" onerror="console.log('Image failed to load:', this.src); this.style.display='none'; this.parentElement.classList.add('image-failed');">
      </div>
    {% endif %}
    
    <div class="portfolio-body">
      <h3 class="portfolio-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}" target="_blank">{{ title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
        {% endif %}
      </h3>
      
      {% if post.excerpt %}
        <div class="portfolio-excerpt">
          {{ post.excerpt | markdownify }}
        </div>
      {% endif %}
      
      <div class="portfolio-links">
        <a href="{{ base_path }}{{ post.url }}" class="portfolio-link">
          <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
          </svg>
          View Details
        </a>
      </div>
    </div>
    
  </article>
</div>