---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <!-- 访客地图: ClustrMaps 已更名为 MapMyVisitors,沿用原 map ID(历史数据保留)。
         新版嵌入路径为 mapmyvisitors.com/map.js (旧的 map_v2.js 已 404)。 -->
    <script type="text/javascript" id="mapmyvisitors"
      src="//mapmyvisitors.com/map.js?cl=ffffff&w=200&t=tt&d=V2qilwDgbwSFWMb_QiOaxYvWJKI5nlsyE2t8jVvBZwA">
    </script>


    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
